header {
  max-width: 800px;
  width: 100%;
  margin: 30px auto 30px auto;
  @media @mobile {
    padding: 20px;
    margin: 0 auto 0 auto;
  }

  h1.mobile-logo {
    display: none;
    @media @mobile {
      display: block;
      text-align: center;
    }
  }

  h2 {
    padding-top: 20px;
  }

  p {
    padding-bottom: 20px;
    border-bottom: 3px lightgray dashed;
  }
}

.home {
  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @mobile {
      padding: 0 20px 20px 20px;
      flex-wrap: nowrap;
      flex-direction: column;
      margin: 0;
    }

    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @mobile {
        width: 100%;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media @mobile {
        width: 100%;
      }

      img {
        border-radius: 10px;

        @media @mobile {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
      order: 1;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    @media @mobile {
      padding: 30px 20px;
      width: 100%;
    }

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @mobile {
      flex-direction: column;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @mobile {
        width: 100%;
        padding: 0px 50px;
      }

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8em;
        .btn(@button-bg, @white, @button-width, @button-height, @border-radius);

        @media @mobile {
          height: 30px;
        }
      }
    }
  }
} // home
