// Navigation Styles here
nav {
  border-bottom: 2px dashed black;
  nav .logo {
    margin-right: auto;
    display: block;
    width: 100%;
  }

  ul {
    li {
      &:first-child {
        margin-right: auto;
      }
    }

    .logo {
      @media @mobile {
        display: none;
      }
    }
  }
  ul.nav-list {
    display: flex;
    justify-content: flex-end;

    @media @mobile {
      justify-content: space-between;
    }

    li.nav-item {
      display: inline-block;
      margin: 20px;
      font-size: 1.6em;
    }

    h1 {
      align-items: left;
    }
  }
}
